[gcode_macro PRINT_END]
gcode:
    {% set EJECT_FILAMENT = params.EJECT_FILAMENT|default(0)|int %}

    SKEW_PROFILE CLEAR=1
    
    # Safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 5, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    
    M400 # Wait for buffer to clear
    SET_FILAMENT_SENSOR SENSOR=extruder_sensor ENABLE=0
    G92 E0 # Zero the extruder
    # G1 E-3.0 F1800 # Retract filament by 3mm, prevent stringing

    G90 # Absolute positioning
    G1 Z{z_safe} F3000 # Move Z up by 5mm, or to the max Z height if we're near the top of the machine
    G1 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_maximum.y} F18000 # Park the toolhead at middle back
    
    {% if EJECT_FILAMENT|int == 1 %}
        MMU_EJECT
    {% endif %}
    
    TURN_OFF_HEATERS
    M107 # Turn off fan
    M84 # Disable steppers

    # Disable chamber fans
    SET_FAN_SPEED FAN=nevermore SPEED=0
    SET_FAN_SPEED FAN=bed_fans SPEED=0

    RESTORE_GCODE_STATE NAME=STATE_PRINT_END

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
variable_park: True
gcode:
  ## Move head and retract only if not already in the pause state and park set to true
  {% if printer.pause_resume.is_paused|lower == 'false' and park|lower == 'true'%}
    _TOOLHEAD_PARK_PAUSE_CANCEL
  {% endif %}
  SKEW_PROFILE CLEAR=1
  TURN_OFF_HEATERS
  _MMU_PARK Z_HOP=20
  _MMU_CLEAR_POSITION
  CANCEL_PRINT_BASE